.details {
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    max-width: 900px;
    margin: 1em;
    // position: absolute;
    bottom: 1%;
    scale: 0;
    opacity: 0;
    display: none;
}