.favorites-menu {
    z-index: 1;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    translate: -100% 0;
    transition: translate 0.6s ease-out;
    display: flex;
    justify-content: center;
    
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 60%;
        width: 100%;
        margin: 82px 0;
        overflow: scroll;

        > div {
            padding: 20px 0;
            border-bottom: 1px solid rgb(160, 5, 174);
            width: 80%;
            text-align: center;
        }

        > div:hover {
            cursor: pointer;
        }
        
        > div:hover div:first-child {
            color: rgb(160, 5, 174);
        }
    }

    h2.pins {
        border-bottom: 1px solid rgb(160, 5, 174);
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        width: fit-content;
        position: absolute;
        top: 7.5%;
    }

    h2.settings {
        border-bottom: 1px solid rgb(160, 5, 174);
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        width: fit-content;
        position: absolute;
        top: 73%;
    }

    section {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 8%;
        width: 85%;
        height: 15%;
        justify-content: space-evenly;
        font-size: 18px;

        div {
            display: inline-flex;
            justify-content: space-between;
        }
    }
}

.burger,
.favorites-menu {
    position: fixed;
}

.burger {
    border: 0;
    padding: 0;
    // background: transparent;
    cursor: pointer;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 2;
    background: url("../images/burger.svg");
    background-size: cover;
}

.open {
    translate: 0;
}

.empty-message {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: rgb(160, 5, 174);
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30%;
}

// Settings buttons styling
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .5s;
    border-radius: 34px;
}

.slide:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .5s;
    border-radius: 50%;
}

.switch input:checked+.slide {
    background-color: #a005ae;
}

.switch input:checked+.slide:before {
    transform: translateX(20px);
}

.unit-message {
    position: absolute;
    bottom: 1%;
    right: 0;
    font-size: 0.7em;
    color:rgb(160, 5, 174);
    display: none;
}

// Have birdy toggled on by default

#bt {
    background-color: #a005ae;
}

#bt:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 24px;
    bottom: 4px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
}

#birdy-toggle input:checked+.slide {
    background-color: #ccc;
}

#birdy-toggle input:checked+.slide:before {
    transform: translateX(-20px);
}
