
.card {
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(17px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    max-width: 500px;
    margin: 200px 0;
    overflow: hidden;
    transition: ease-out 0.6s;
    scroll-snap-align: center;
    
   
    .weather {
        margin: 20px 0px 20px 35px;
        width: 60%;
        scale: 0;
        opacity: 0;

    
       h2 {
            font-size: 2rem;
            font-weight: bold;
            margin: 40px 0px 0px 0px;
       }

       h1 {
            font-size: 3rem;
            margin: 25px 0
       }

       p {
            font-size: 1.2rem;
            margin: 10px 0;
       }

        .image {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .details-button {
            font-size: 1em;
            color: rgb(160, 5, 174);
            transition: 0.5s;
            z-index: 1;
            width: fit-content;
        }

        .details-button:hover {
            cursor: pointer;
            // color: rgb(160, 5, 174);
        }
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0.5%;
        height: 70px;
        border-radius: 24px;
        width: 100%;
    
        input {
            width: 300px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 0 10px;
            font-size: 1.2rem;
            font-family: 'Poppins', sans-serif;
            margin-top: 5px;
            z-index: 1;
        }

        input:focus {
            outline: none;
        }
    
        button {
            margin: 0.7em;
            margin-right: 0;
            margin-top: 15px;
            border-radius: 50%;
            border: none;
            height: 30px;
            width: 30px;
            transition: 1s;
        }

        button:hover {
            cursor: pointer;
            background: rgb(187, 187, 187);
        }
    }

    .image {
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        position: absolute;
        right: 5px;
        top: 60px;

        img {
            width: 250px;
            height: 250px;
            display: none;
            scale: 0;
            opacity: 0;
        }
    }

    .loader {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        border-top: 3px solid rgb(160, 5, 174);
        border-right: 3px solid transparent;
        animation: rotation 1s linear infinite;
        top: 23px;
        left: 20px;
        z-index: 1;
        display: none;
    }
}

#geo-search {
    position: absolute;
    right: 31px;
    top: 20.5px;
    z-index: 1;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    transition: 1s;
    padding-right: 26px;
    padding-top: 3px;
    margin-top: 2.5px;
}

#geo-search:hover {
    cursor: pointer;
    background: rgb(160, 5, 174);
}


.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.3s;
}

.shake {
    animation: 0.10s shake 3;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes shake {
    0% { translate: 0;}
    25% { translate: 7px 0;}
    75% { translate: -7px 0;}
    100% { translate: 0;}
}

.pin {
    background: transparent;
    border: none;
    background-image: url('/src/images/empty-star.svg');
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    transition: 0.5s;
    scale: 0;
    opacity: 0;
}

.pin:hover {
    cursor: pointer;
    background-image: url('/src/images/filled-star.svg');
}

.pinned {
    background-image: url('/src/images/filled-star.svg');
}

.unpinned {
    background-image: url('/src/images/empty-star.svg');
}

.hidden-lat,
.hidden-lon {
    display: none;
    position: absolute;
}

.fa-rotate-right {
    font-size: 20px;
    position: absolute;
    left: 5.5%;
    top: 40%;
    z-index: 2;
}

.fa-rotate-right:hover {
    cursor: pointer;
}