@import './styles/reset.scss';
@import './styles/weather-box.scss';
@import './styles/details.scss';
@import './styles/favorites.scss';
@import './styles/birdy.scss';

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 500px;
    margin: 0;
    background: #efecff;
    font-family: 'Poppins', sans-serif;
}

body,html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: url("../src/images/ScatteredClouds.svg");
    background-size: cover;
    transition: 2s fadeIn ease-out;
}

.links {
    display: flex;
    position: fixed;
    justify-content: end;
    align-items: center;
    top: 20px;
    right: 20px;
}

.links a {
    color: white;
    margin-right: 30px;
    font-size: 50px;
    transition: 0.5s;
}

.links a:hover {
    color: rgb(160, 5, 174)
}

.title {
    position: absolute;
    top: 0%;
    font-family: "wendy", sans-serif;
    z-index: 1;
    font-size: 7em;
    opacity: 1;
    animation: dropIn 1.7s ease;
}

@keyframes dropIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    60% { opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media all and (max-width: 900px) {
    .links {
        top: 1%;
        right: 0;
    }

    .links a {
        margin-right: 0.4em;
        font-size: 2em;
    }

    .card .search input {
        width: 17em;
    }

    #geo-search {
        right: 1em; 
    }

    .title {
        font-size: 3em;
    }

    .card {
        scale: 0.9; 
    }

    .details, .details-2 {
        transform: scale(0.9);
    }
}

@media all and (max-width: 480px) {
    .card .search input {
        width: 12em;
    }
}
