@import './styles/reset.scss';
@import './styles/weather-box.scss';
@import './styles/details.scss';
@import './styles/favorites.scss';
@import './styles/birdy.scss';

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 500px;
    margin: 0;
    background: #efecff;
    font-family: 'Poppins', sans-serif;
}

body,html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url("../src/images/ScatteredClouds.svg");
    transition: 2s fadeIn ease-out;
}

.links {
    display: flex;
    position: fixed;
    justify-content: end;
    align-items: center;
    top: 20px;
    right: 20px;
}

.links a {
    color: white;
    margin-right: 30px;
    font-size: 50px;
    transition: 0.5s;
}

.links a:hover {
    color: rgb(160, 5, 174)
}

.title {
    position: absolute;
    top: 0%;
    font-family: "wendy", sans-serif;
    z-index: 1;
    font-size: 7em;
    opacity: 1;
    animation: dropIn 1.7s ease;
}

@keyframes dropIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    60% { opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
