@import './styles/reset.scss';
@import './styles/weather-box.scss';
@import './styles/details.scss';
@import './styles/favorites.scss';
@import './styles/birdy.scss';

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 500px;
    margin: 0;
    background: #efecff;
    font-family: 'Poppins', sans-serif;
}

body,html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: url("../src/images/ScatteredClouds.svg");
    background-size: cover;
    transition: 2s fadeIn ease-out;
}

.links {
    display: flex;
    position: fixed;
    justify-content: end;
    align-items: center;
    top: 20px;
    right: 20px;
}

.links a {
    color: white;
    margin-right: 30px;
    font-size: 50px;
    transition: 0.5s;
}

.links a:hover, .help:hover {
    cursor: pointer;
    color: rgb(160, 5, 174)
}

.title {
    position: absolute;
    top: 0%;
    font-family: "wendy", sans-serif;
    z-index: 1;
    font-size: 7em;
    opacity: 1;
    animation: dropIn 1.7s ease;
}

.help {
    color: #ffff;
    position: fixed;
    top: 1%;
    left: 55px;
    font-size: 50px;
    transition: 0.5s;
}

.help-module {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    height: 30em;
    position: fixed;
    background: white;
    width: 25em;
    z-index: 5;
    top: 50%;
    left: 50%;
    border-radius: 2em;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 1.5em;
        margin-top: 0.8em;
        margin-bottom: 0.3em;
        font-weight: bold;
        text-align: center;
    }
}

.q1, .q2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1em 2em;

    p:first-child {
        margin-bottom: 0.5em;
        color: #a005ae;
    }

    p:last-child {
        line-height: 2em;
    }
}

.close-help {
    position: absolute;
    left: 5%;
    top: 3%;
    color: #a005ae;
    font-size: 1.7em;

    &:hover {
        cursor: pointer;
    }
}

strong {
    font-weight: bolder;
}

p > span {
    text-decoration: underline;
}

.help-background {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    position: fixed;
    z-index: 4;
    height: 100vh;
    width: 100vw;
    background: rgb(0 0 0 / 77%);
}

@keyframes dropIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    60% { opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media all and (max-width: 900px) {
    .links {
        top: 1%;
        right: 0;
    }

    .links a, .help {
        margin-right: 0.4em;
        font-size: 2em;
    }

    .card .search input {
        width: 17em;
    }

    #geo-search {
        right: 1em; 
    }

    .title {
        font-size: 3em;
    }

    .card {
        scale: 0.9; 
    }

    .details, .details-2 {
        transform: scale(0.9);
    }
}

@media all and (max-width: 480px) {
    .card .search input {
        width: 12em;
    }

    .title {
        top: 3%;
    }

    .help-module {
        font-size: 0.9em;
    }
}
